{% extends "website/layout.html" %}

{% block main %}

<h1>This is Cart</h1>

{% if cart_items %}

        {% for cart_item in cart_items %}
        <h2>{{cart_item.product.title}}</h1>
        <img width='200' src="{{cart_item.product.image.url}}" alt="">
        <p>{{cart_item.product.price}}</p>
        <div>
            <a href="{% url "remove" cart_item.product.id %}">
                <button>-</button>
            </a>
            <span>{{cart_item.quantity}}</span>
            <a href="{% url "addOnCart" cart_item.product.id %}">
                <button>+</button>
            </a>
        </div>
        {% endfor %}

{% else %}

<p>Empty Cart</p>
<a href="{% url "home" %}">Continue Shopping</a>

{% endif %}

{% endblock %}