@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Noto+Sans+JP:wght@100..900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primaryColor: #004141;

    font-family: "Noto Sans JP", sans-serif;
}

.fc{
    flex-direction: column;
}

.fc, .fr{
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer{
    background-color: var(--primaryColor);
    justify-content: space-around !important;
    padding: 1rem;
    color: white;
    height: 10vh;
}

header{
    position: sticky;
    top: 0;
}

.logo img{
    filter: invert(1);
}

.right{
    gap: 2rem;
}

ul{
    list-style: none;
}

.cartLink{
    color: white;
    text-decoration: none;
    gap: 5px;
    position: relative;
}

.cartLength{
    position: absolute;
    left: 1rem;
    bottom: 5px;
}

/* ========================================= */

.mainSection{
    min-height: 85vh;
}

footer{
    height: 3vh !important;
}